<%- layout('layouts/boilerplate') %>

<div class="container">
    <%- include("../partials/navbar") %>

    <div class="columns is-centered mt-6">
        <div class="column is-half">
            <div class="has-text-centered">
                <h1 class="title">ログイン</h1>
            </div>

            <div class="is-centered m-6 ">
                <form action="/login" method="POST">
                    <div class="field">
                        <label class="label username">ユーザー名</label>
                        <div class="control">
                            <input class="input" name="username" type="text" placeholder="ユーザー名">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label password">パスワード</label>
                        <div class="control">
                            <input class="input password" name="password" type="password" placeholder="パスワード">
                        </div>
                    </div>
                    <div class="has-text-right">
                        <button class="button has-text-right is-primary">ログイン</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>