
/* home.ejs */
#itemsForm, #searchForm, #updateItemsForm{
    min-height: 150px;
}

#updateItemsForm{
    margin: 15px 0;
}

.itemsForm-wrapper{
    margin-right: 10px;
}

.searchTags{
    min-height: 65%;
}

.card-footer-item{
    max-height: 5%;
}

input[type="checkbox"]{
    display: none;
}

.card-footer{
}

.card:not(:last-child){
    margin-bottom: 0;
}

.cardImg{
    object-fit: cover;
}

/* edit.ejs style */
.column{
    /* min-height: 35vh; */
}

.searchTags{
    min-height: 65%;
}

.card-footer-item{
    max-height: 5%;
}

.editItemFormContent{
    padding-top: 0;
    padding-bottom: 0;
}